/* Estilos generales para toda la página */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f8ff;
    color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

/* Estilos para el título */
h1 {
    color: #007acc;
}

/* Estilos para el input de tareas */
#taskInput {
    padding: 10px;
    font-size: 16px;
    border: 2px solid #007acc;
    border-radius: 5px;
    width: 250px;
}

/* Estilos para el botón */
#addButton {
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-color: #007acc;
    border: none;
    border-radius: 5px;
    margin-left: 10px;
    cursor: pointer;
}

#addButton:hover {
    background-color: #005f99;
}

/* Estilos para la lista de tareas */
ul {
    list-style: none;
    padding: 0;
    width: 300px;
    margin-top: 20px;
}

li {
    background-color: #e6f7ff;
    margin: 5px 0;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}

li:hover {
    background-color: #b3e0ff;
}
